* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #f7f8f8;
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

header input:nth-child(1) {
  height: 40px;
  width: 300px;
  border-radius: 0 3px 3px 0;
}
.map{
  height: 40px;
max-height: 100%;
border-radius: 3px;
  border: 2px black solid;
  display: flex;
 


}
.map p {
margin: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.map input{
outline: none;
border: none;
direction: rtl;

}
 .img1{
  width: 25px;
  transform: rotate(-180deg);
  cursor: pointer;
transition: 0.3s;
}
.img2{
  
transform: rotate(0deg);

}
.mapall{
  position: relative;
}

.map-dawn{
  position: absolute;
 display: flex;
 flex-direction: column;
  z-index: 9;
  background-color:white;

  width: 100%;
height: 350px;
overflow: hidden;
overflow-y:scroll;
box-shadow: 0 5px 10px black ;
display: none;
}
.map-dawn-active{
display: flex;
}
.map-dawn div{
  display: flex;
  flex-direction:row;
justify-content: right;
}

.map-dawn div:hover{
background-color: aquamarine;
}
.map-dawn p{
  margin: 10px;
}





.in {
  display: flex;
  flex-direction: row-reverse;
}
.in button {
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
  font-size: x-large;
  border-radius: 3px 0 0 3px;
}
header a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: bold;
}

header p {
  font-size: medium;
  font-weight: bold;
  z-index: 10;
}
.sell {
  width: 60px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;

  position: relative;
}
.sell img {
  position: absolute;
}
.sell :nth-child(2) {
  font-size: x-large;
  font-weight: bold;
  margin-left: 5px;
  z-index: 10;
}

/*##############################*/
.nav-section-botom {
  margin-top: 60px;
  width: 100%;
  height: 50px;

  float: left;

  box-shadow: 0 1px 10px 0;
}


/* ##################################################################### */
.sheet {
  list-style: none;
  background-color: white;
min-width:200px;


/* عشان لو في عناصر بتزيد تاخد راحتها  */ /* جرب تخليها "height" زي ما كونت عامل */

  min-height: 200px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  align-items: flex-end;
  font-size: 13px;
}
.sheet1 {
  list-style: none;
  background-color: white;
width: 200px;
  /* عشان لو في عناصر بتزيد تاخد راحتها  */ /* جرب تخليها "height" زي ما كونت عامل */

  min-height: 200px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  display: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  align-items: flex-end;
  font-size: 13px;
}

.sheet1 div{
  position: relative;
  float:left;
  margin:10px 0 0 20px;
  cursor: pointer;
  width:20px;
  height: 10px;
  z-index: 10;
  
transform:translate(-150px,-100px) ;

}


  
  
  .sheet1 div::after{
    content: "";
    width: 10px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top:6px;
    transform: rotate(45deg);
  }
  .sheet1 div::before{
    content:"";
    width: 10px;
    height: 2px;
    background-color: blue;
    position: absolute;
   
    transform: rotate(-45deg);
  }
  .sheet1 a {
    color: black;
    text-decoration: none;
    margin: 5px;
    float: right;
    cursor: pointer;
  }
  .sheet1 a:hover {
    color: blue;
  }

.sheet a {
  color: black;
  text-decoration: none;
  margin: 5px;
  float: right;
  cursor: pointer;
}

.sheet a:hover {
  color: blue;
}

.sheet li {
  padding: 7px 3px;
  width: 100%;
 

}

/* .active {
  display: flex;
} */
/* هنحط دي بدالها */
li.expand:hover ul:first-child {
  display: flex;
}

.menu li {
  position: relative;
}

.menu > li:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;

}
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  
}
.sheet div{
position: relative;
float:left;
margin:10px 0 0 20px;
cursor: pointer;
width:30px;
height: 10px;

}


.sheet div::after{
  content: "";
  width: 10px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top:6px;
  transform: rotate(45deg);
}



.sheet div::before{
  content:"";
  width: 10px;
  height: 2px;
  background-color: blue;
  position: absolute;
 
  transform: rotate(-45deg);
}
li.expand1:hover .sheet3{
  display: flex;
}
.sheet3{
display: none;
flex-direction: row;
position: absolute;

}
.sheet3 .mmm{
 min-width: 300px;
 min-height: 200px;
  background-color: white;
border: solid beige 3px;
display: flex;
align-items: flex-end;
flex-direction: column;
font-size: 15px;
font-weight: bold;
text-align: right;
color: black;

}
.mmm div{
  margin: 10px;
 
  width: 92%;

}

.mmm p {
  font-size: 13px;
  margin-top: 5px;
  font-weight: normal;
}
.aftr{
position: relative;
right: 95%;
top:-30px;
display: none;
}

.aftr::after{
  content: "";
  width: 10px;
  height: 2px;
  background-color: blue;
  position: absolute;
  top:6px;
  transform: rotate(45deg);

}
.aftr::before{
  content:"";
  width: 10px;
  height: 2px;
  background-color: blue;
  position: absolute;
 
  transform: rotate(-45deg);
}
.active{
  background-color: rgba(0, 0, 255, 0.099);
  
}
.section-left{
  min-width: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-around;
 display: none;

}
.section-left a{
  text-decoration: none;
  color: black;
  margin: 7px;
}
.section-left a:hover{
  color: rgb(3, 215, 145);
}
.section-left a:first-child{
  font-size: 15px;

  color: rgb(31, 31, 31);
}
.section-left:first-child{
  display: flex;
}






/*##################cont##############*/


.cont {
  margin: 50px 0 0 5%;

  width: 90%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 150px;
}


.cont div {
  
  width: 300px;
  height: 300px;
  background-color: rgb(106, 88, 66);
  cursor: pointer;
}
.cont div img {
  width: 100%;
  height: 70%;
}




.add{
  width: 1100px;
  height: 180px;

background-color: black;
position: relative;
top: 20px;
left: 50%;
 transform: translateX(-50%);

z-index: -1;
 display: flex;
 flex-direction: row;
overflow: hidden;
}


.img123 {
  width: 100%;
  height: 100%;

position: absolute;
left: -100%;

}



.imgadd1{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  transition:1s;
}
.imgadd0{
  position: absolute;
  left: 0;
  transition:1s;
  width: 100%;
  height: 100%;
}

/* 1100
2199
3300

 transform: translateX(-3300px);
*/
